{% extends 'layout/layout.html' %}
{% block title %}Личный кабинет{% endblock title %}
{% block header %}Личный кабинет{% endblock header %}

{% block content %}
    <p>{{ user.name }}</p>
    <p>{{ user.patronymic }}</p>
    <p>{{ user.surname }}</p>
    <p>{{ user.get_age }}</p>

    <p>{{ user.get_region_full_name }}</p>
    <p>{{ user.liveplace }}</p>

    <p>{{ user.description }}</p>
    <p>{{ user.not_twf_exp }}</p>
    <img src="{{ user.get_photo_path }}" alt="Фото профиля">

    <a href="{% url 'city_selector_no_city' %}">На главную</a>
    <a href="{% url 'delete_user' %}">Удалить аккаунт</a>
{% endblock content %}