{% extends 'layout/layout.html' %}

{% block title %} Просмотр категории {% endblock title %}
{% block header %} Просмотр категории {% endblock header %}

{% block content %}
    {% if places %}
        {% for place in places %}
            <div>
                {{ place.name }}
            </div>
        {% endfor %}
    {% else %}
        <p>Результатов нет</p>
    {% endif %}

    <a href="{% url 'city_selector' region_short_name=region_name city_name=city_name %}">
        На страницу города
    </a>
{% endblock content %}